* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    border: 0;
    /* 禁止长按选中 */
    -webkit-touch-callout: none;
    /*系统默认菜单被禁用*/
    -webkit-user-select: none;
    /*webkit浏览器*/
    -khtml-user-select: none;
    /*早期浏览器*/
    -moz-user-select: none;
    /*火狐*/
    -ms-user-select: none;
    /*IE10*/
    user-select: none;
    /* 解决iOS图片出现阴影问题 */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    outline: none;
    appearance: none;
}

:root {
    --color: #fff;
}

*:not(input, textarea) {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
}

textarea,
select,
input {
    -webkit-user-select: text;
    user-select: text;
    font-size: 32px;
}

html,
body {
    width: 100%;
    height: 100%;
    min-height: 1100px;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-scrolling: touch;
    touch-action: none;
    font-size: 26px;
    font-family: '微软雅黑';
    position: fixed;
}

body {
    transform-style: preserve-3d;
}

.horizontalScreen {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
    /* display: none; */
    z-index: 10000;
}

.neir {
    width: 301px;
    height: 256px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url(https://oss.eventnet.cn/hyundai/images/915.png?v=1.11) no-repeat;
    background-size: 100% 100%;
}

/* 整屏弹窗 */
.mmb,
.ledb,
#positer {
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    overflow-x: hidden;
    overflow-y: auto;
    position: fixed;
    top: 0;
    left: 0;
    justify-content: center;
    z-index: 1;
}

.asg {
    width: 73%;
    height: auto;
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
}

.tinyImg {
    width: 100%;
    background: #555;
    color: aquamarine;
}

.gohome {
    margin: 35px 0 0;
    display: block;
    width: 305px;
    height: 65px;
    position: absolute;
    bottom: 120px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    line-height: 65px;
    color: #fff;
    background: #0082fb;
    font-size: 27px;
    border-radius: 8px;
}

canvas {
    display: block;
    width: 100%;
    height: 100%
}

.button {
    width: 100px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    text-decoration: none;
    color: aqua;
    font-size: 30px;
    border: none;
    outline: none;
    padding: 0 20px;
    text-transform: uppercase;
    transition: 0.5s;
    overflow: visible;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #1113);
}
footer{
    width: 100%;
    height: 120px;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}